<%= stylesheet_link_tag "personProfile" %>
<link rel="stylesheet" href="personProfile.css"/>

<main>
<h1>Persons#profile</h1>
  <p class="text">Find me in app/views/persons/profile.html.erb</p>
  <m data-no-turbolink="true">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.email %></span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to '<button type="button">Войти</button>'.html_safe, new_user_session_path %> или <%= link_to '<button type="button">Зарегистрироваться</button>'.html_safe, new_user_registration_path %>
  <% end %>
</main>